$fontSizeDefault: 28px;

$primary: #cb1412;
$highlight: #cb000e;
$menuSubSelected: #c30a17;
$menuSelected: #bb1420;

$disabled: #ced1d7;
$unselected: #c9c9c9;
$unchecked: #e6e6e6;

$achromatic0: #ffffff;
$achromatic10: #fafafa;
$achromatic40: #c3c3c3;
$achromatic50: #808080;
$achromatic55: #707070;
$achromatic90: #161616;
$achromatic100: #000000;

$textHyperlinkDefault: #001dff;
$textHyperlink: #0e7aff;
$textHighlightPagenation: #117af8;
$textHint: #b1adad;
$textSub: $achromatic50;
$textUnabled: #bababa;

$textError: #f00000;
$textSuccess: #00c11e;

$bodyDefault: #ebeae5;
$menuSide: $bodyDefault;

$line: $achromatic40;
$lineCard: #cdcdcd;
$lineCardSplit: #e2e2e2;
$lineInfoSplit: #e3e0e0;
$lineBox: $textHint;
$lineModalSplit: #9f9f9f;

$option1: #fc0b08;
$option2: #12c4cb;
$option3: #ff9831;
$option4: #1259cb;
$option5: #b7b7b7;
$option6: #ffce00;
$option7: #6e00bf;
$option8: #7edb00;
$option9: #ef006e;
$option10: $achromatic0;
$option11: $achromatic100;
